{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Nortages' blog</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}">

    <link rel= "preconnect" href="https://fonts.googleapis.com" />
    <link rel= "preconnect" href="//maxcdn.bootstrapcdn.com" />

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Baloo|Open+Sans&display=swap" as="style" />
    <link rel="preload" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" as="style"/>

	<link href="https://fonts.googleapis.com/css?family=Baloo|Open+Sans&display=swap" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/floating-labels.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}"/>


    <link  href="{% static 'node_modules/cropperjs/dist/cropper.css' %}" rel="stylesheet">
    <script src="{% static 'node_modules/cropperjs/dist/cropper.js' %}"></script>

    <link href="{% static 'fontawesome-free-5.10.1-web/css/all.css' %}" rel="stylesheet">


</head>
<body class="bg-secondary">
    <div class="container-fluid">
    	<header class="row no-gutters p-2 sticky-top">
            <div class="col-lg-6 text-center">
                <h1 class="title"><a href="/">Nortages' blog</a></h1>
            </div>
            <div class="col-lg-6 top-menu text-center mt-n2 mt-lg-0 d-flex justify-content-center">
                {% if user.is_authenticated %}
                    <div class="ellipses">
                        <a href="{% url 'profile' username=user.username %}">{{ user.username }}</a>
                    </div>
                    <a class="" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
                    <a class="" href="{% url 'post_new' %}"><i class="fas fa-pen-square"></i></a>
                {% else %}
                    <span>Please login</span>
                    {% if request.path == "/" or request.path == "/accounts/register/" or request.path == "/accounts/login/" %}
                        <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i></a>
                    {% else %}
                        <a href="{% url 'login' %}?next={{request.path}}"><i class="fas fa-sign-in-alt"></i></a>
                    {% endif %}
                    <a href="{% url 'register' %}"><i class="fas fa-user-plus"></i></a>
                {% endif %}
            </div>
        </header>
        
        <div class="row content no-gutters justify-content-center">
            <div class="col-lg-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
