{% extends 'blog/base.html' %}

{% block content %}
    <div class="post p-3 rounded-bottom">
        <div class="date">
            {{ post.created_date }}
            <a class="ml-1" href="{% url 'profile' username=post.author.username %}">{{ post.author.username }}</a>
            {% if user.is_superuser or post.author == user %}
                <span class="post_options">
                    <a class="ml-2" href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-edit"></i></a>
                    <a class="ml-1" href="{% url 'post_remove' pk=post.pk %}"><i class="fas fa-trash"></i></a>
                </span>
            {% endif %}
        </div>
        
        <h1 id='title' class="mt-2">{{ post.title }}</h1>
        <p id="text">{{ post.text|linebreaksbr }}</p>
        <a class="btn btn-primary mt-3" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    </div>

    <div id="comments">
        {% for comment in comments %}
            <div class="comment p-3 my-md-4 rounded border-top">
                <div class="comment_header">
                    <div class="comment_info">
                        <p class="date">{{ comment.created_date }}</p>
                        <strong><a href="{% url 'profile' username=comment.author.username %}">{{ comment.author.username }}</a></strong>
                    </div>
                    {% if user.is_superuser or comment.author == user %}
                        <a class="" href="{% url 'comment_remove' pk=comment.pk %}"><i class="fas fa-trash"></i></a>
                    {% endif %}
                </div>
                <div>
                    {{ comment.text|linebreaks }}
                </div>

                <!-- </div> -->
            </div>
            {% empty %}
                <p>No comments here yet :(</p>
        {% endfor %}
    </div>
{% endblock %}
