{% extends 'blog/base.html' %}
{% load static %}

{% block extra_head_tags %}
    <title>{{ action }} post</title>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/floating-labels.css' %}"/>
{% endblock %}

{% block content %}
<div class="row no-gutters">
<form class="col-md-7 mx-md-auto p-3 rounded-bottom bg-white shadow" method="post">
    {% csrf_token %}
    <h2 class="mb-2">{{ action }} post</h2>

    <div class="form-label-group ">
        {{ form.title }}
        <label for="inputTitle" class="">Title</label>
    </div>

    <div class="form-label-group ">
        {{ form.text }}
        <label for="inputText" class="">Text</label>
    </div>

    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn btn-primary"><i class="fas fa-pen-square"></i>{{ action }}</button>
</form>
</div>
{% endblock %}