{% extends 'blog/base.html' %}

{% block content %}
    <div class="profile_block p-3 rounded-bottom">
        <img class="profile_pic" src="{{ profile.profile_pic.url }}" height='150' width='150'>
        <div class="profile_info ml-3">
            <h2>{{ profile.user.username }}
            {% if user.is_superuser or post.author == user %}
                <a class="btn" href="{% url 'profile_edit' username=profile.user.username %}"><i class="fas fa-edit"></i></a>
            {% endif %}</h1>
            <p>Posts: {{ posts.count }}</p>
            <p>Comments: {{ profile.user.comments.count }}</p>
        </div>
    </div>
    {% include "blog/posts.html" %}
{% endblock %}