html, body, .container-fluid {
    height: 100%;
    padding: 0;
    background-color: #aaa;
}

p {
    margin-bottom: 0;
}

.page-header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.page-header h1 {
    font-size: 3em;
}

.options {

}

.page-header a, .page-header a:visited, .page-header a:active {
    color: #fff;
    text-decoration: none;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    font-size: 26pt;
}

.top-menu a:hover {
    color: #aaa;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content {

}

.date {
    color: #828282;
}

.save {
    float: right;
}

.posts {
    padding: 0;
}

.post h1, .post h2, .post h3, .post h4 {
    font-family: 'Lobster', cursive;
}

.post {
    overflow-wrap: break-word;
    background-color: #fff;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post h1 a, .post h1 a:visited {
    color: #000;
}

.comment {
    background-color: #fff;
}

.profile_block {
    overflow-wrap: break-word;
    background-color: #fff;

    display: flex;
    justify-content: flex-start;
}

.profile_info {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

