html, body, .container-fluid {
    height: 100%;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

p {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Baloo', cursive;
    margin-bottom: 0;
}

.page-header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.page-header h1 {
    margin-bottom: 0;
    font-size: 3em;
}

.post_options > a {
    color: #000;
}

.page-header a, .page-header a:visited, .page-header a:active {
    color: #fff;
    text-decoration: none;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    font-size: 26pt;
}

.top-menu a:hover {
    color: #868e96;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button > i {
    margin-right: 0.5em;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post h1, .post h2, .post h3, .post h4 {
    font-family: 'Baloo', cursive;
}

.post {
    overflow-wrap: break-word;
}

.forms textarea, .forms input {
    width: 100%;
}

.forms div {
    margin-top: 0.6em;
}

.post h1 a, .post h1 a:visited {
    color: #000;
}

.comment {
    overflow-wrap: break-word;
}

.comment .comment_header > a {
    color: #000;
}

.profile_block {
    overflow-wrap: break-word;
}

.profile_info {
    overflow-wrap: break-word;
}

.forms {
    margin-top: 1.5em;
}