
html, body, .container-fluid {
    height: 100%;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

p {
    margin-bottom: 0;
}

.title {
    font-size: 2.5rem;
    font-family: 'Baloo', cursive;
    margin-bottom: 0;
}

header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header .title {
    font-size: 3rem;
}

header a, header a:visited, header a:active, header a:hover {
    color: #fff;
    text-decoration: none;
}

.top-menu {
    font-size: 2rem;
}

.top-menu a:hover {
    color: #868e96;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button > i {
    margin-right: 0.5rem;
}

.date {
    color: #828282;
    /*overflow-wrap: */
}

.save {
    float: right;
}

.post #text, .post .title{
    overflow-wrap: break-word;    
}

.post_options {
    color: #000;
}

.post h1 a, .post h1 a:visited {
    color: #000;
}

.comment {
    overflow-wrap: break-word;
}

.comment .comment_header > a {
    color: #000;
}

.comment .comment_header > a:hover {
    color: red;
}

.profile_block {
    /*overflow-wrap: break-word;*/
}

.profile_info .title {
    font-size: 2.2rem;
    /*overflow-wrap: break-word;*/
}

.top-menu > * {
    margin-right: 1rem;
}

.label {
  cursor: pointer;
}

.img-container img {
  max-width: 100%;
}

.errors {
    color: red;
    margin-bottom: 0;
}

.form-control {
    height: auto;
}


/*.form-group {
  position: relative;
  margin-top: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 80%;
  transform: translate3d(0, -110%, 0);
  opacity: 1;
}
*/