
.form-control {
    height: auto;
}

.form-label-group input {
	
}

button > i {
    margin-right: 0.5rem;
}

/*login and register*/
.errors {
    color: red;
    margin-bottom: 0;
}

label #avatar {
	cursor: pointer;
}

.img-container img {
  max-width: 100%;
}
